* {
  box-sizing: border-box;
}

body {
height: 100vh;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
color: #E6F4FF;
font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #4D6A80;
  width: 100vw;
  text-align: center;
  padding: 2.5rem 0;
}

main {
  font-family: "Orbitron", sans-serif;
  background-color: #B8C4CC;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  padding: 2rem 0;
  min-width: 100%;
  background-color: #4D6A80;
  font-size: 1.2rem;
}

footer p,
.attrib {
  width: 100vw;
  text-align: center;
  margin-bottom: 0.5rem;
  margin-top: 1rem
}

a {
  text-decoration: none;
  color: #E6F4FF;
}

i {
  font-size: 1.4rem;
  transition: transform 0.2s ease-in;
  color: #E6F4FF;
}

i:hover {
  transform: scale(1.3);
}

button {
  border: none;
  background-color: #E6F4FF;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #9ba7af;
  font-family: "Orbitron", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #4D6A80;
}

button:active {
  background-color: #4D6A80;
  color: #E6F4FF;
  transform: scale(0.9);
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

h2 {
  font-size: 1.5rem;
  margin: 1.4rem 0;
}

.calculator-container {
  min-width: 40vw;
  min-height: 50vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
}

.js-operator-button {
  background-color: #99D5FF;
  color: #E6F4FF;
}

.js-operator-button:active, 
.equals-button:active {
  transform: scale(0.9);
  background-color: #E6F4FF;
  color: #99D5FF;
}

.clear-button {
  grid-column: 1 / span 3;
}

.equals-button {
  grid-column: span 2;
  background-color: #99D5FF;
  color: #E6F4FF;
}

.display {
  font-size: 3.5rem;
  background-color: #4D6A80;
  width: 40vw;
  padding: 1rem 1rem;
  grid-column: 1 / span 4;
  border-radius: 5px;
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
}